* {
    margin: 0%;
    padding: 0%;
}
:root {
    --primary-color: #4a4763;
    --secondary-color: #588da7;
    --tertiary-color: #66caa9;
}
body {
    background-color: var(--secondary-color);
}
header {
    border: 40px 10px 40px 10px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-color: var(--secondary-color);
}
header h1 {
    color: var(--primary-color);
    font-weight: bolder;
    vertical-align: middle;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{ 
vertical-align: middle;
margin: 50px 30px 0 30px;
text-decoration: none;
color: var(--tertiary-color);
font-size: larger;
font-family: 'Courier New', Courier, monospace;
}

.hero {
    position: relative;
    overflow: hidden;
}
.hero img {
   position: absolute;
   top: -9999px;
   bottom: -9200px;
   left: -9999px;
   right: -9999px;
   margin: auto;
}

.twowrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    width: 50%;
    border: 5px sold var(--primary-color);
}

.aboutme h2 {
    color: var(--primary-color);
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-family: 'Courier New', Courier, monospace;
}

.containertext p{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 20px;
    border: 2px var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}
.personal-image {
    background-color: var(--secondary-color);
    float: left;
    margin: 20px;
    border: var(--primary-color) solid 5px;
}
.img-section {
    width: 50%;
    background-color: var(--secondary-color);
}
.imgArray {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0 20px 0;
}
.img1 {
    transition: transform .2s;
    margin: 0;
    border: #4a4763 solid 4px;
}
.img1:hover {
    transform: scale(1.5);
}
.img2 {
    transition: transform .2s;
    margin: 0;
    border: #4a4763 solid 4px;
}
.img2:hover {
    transform: scale(1.5);
}
.img3 {
    transition: transform .2s;
    margin: 0;
    border: #4a4763 solid 4px;
}
.img3:hover {
    transform: scale(1.5);
}
.img4 {
    transition: transform .2s;
    margin: 0;
    border: #4a4763 solid 4px;
}
.img4:hover {
    transform: scale(1.5);
}
.contact-section {
    background-color: var(--secondary-color);
}
.contact-section h2 {
    font-family: 'Courier New', Courier, monospace;
}
.contact-section ul li {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: var(--secondary-color);
    height: 75px;
}
footer h3 {
    color: var(--primary-color);
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}
footer p {
    opacity: .75;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 980px) {
    header h1 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
.twowrap {
    display: inline-block;
}
.img-section {
    display: inline;
    width: 100%;
}
.aboutme {
    display: inline;
    width: 100%;
}
}

@media screen and (max-width: 575px) {

}